@"
evidently==0.7.21
fastapi==0.136.1
imbalanced-learn==0.14.2
joblib==1.5.2
matplotlib==3.10.7
mlflow==3.13.0
mlflow-skinny==3.13.0
mlflow-tracing==3.13.0
numpy==2.2.6
pandas==2.3.3
pydantic==2.12.3
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
shap==0.51.0
streamlit==1.51.0
xgboost==3.2.0
"@ | Out-File -FilePath requirements.txt -Encoding utf8